.content-meta {
  margin-top: 0;
  color: var(--darkgray);

  &[show-comma="true"] {
    > *:not(:last-child) {
      margin-right: 8px;

      &::after {
        content: ",";
      }
    }
  }

  .page-views {
    display: inline-flex;
    align-items: center;
    gap: 0.25rem;
    color: var(--dark);
    position: relative;
    top: 0.1rem;

    svg {
      stroke: var(--dark);
      vertical-align: middle;
    }

    &::after {
      content: "" !important;
    }
  }
}
