.page-views {
  display: inline-flex;
  align-items: center;
  gap: 0.3rem;
  color: var(--dark);
  font-size: 0.9rem;

  svg {
    stroke: var(--dark);
  }

  .view-count {
    min-width: 1em;
  }
}
